# Git/Github
.git
.github
.gitignore

# React dev/build outputs
dist
dist-ssr
*.local

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Testing
coverage

# Env files
.env*
!.env.example

# Dockerfile
.dockerignore
Dockerfile